<?xml version="1.0" encoding="UTF-8"?>
<first>
<level>
 <map>abc</map>
 <wave>
   <bird>1</bird>
   <zombie>2</zombie>
   <snake>3</snake>
   <vampire>4</vampire>
 </wave>
 <wave>
    <bird>1</bird>
   <zombie>2</zombie>
   <snake>3</snake>
   <vampire>4</vampire>
 </wave>
</level>
<level>
 <map>abc</map>
 <wave>
   <bird>1</bird>
   <zombie>2</zombie>
   <snake>3</snake>
   <vampire>4</vampire>
 </wave>
 <wave>
    <bird>1</bird>
   <zombie>2</zombie>
   <snake>3</snake>
   <vampire>4</vampire>
 </wave>
</level>
</first>